<div>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th>IMAGE</th><th>NAME</th><th>DESCRIPTION</th><th>SHORT DESC.</th><th>PRICE</th><th>DISCOUNT</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products track by $index">
            <td ng-click="showProduct(product)">{{product.id}}</td>
            <td ng-click="showProduct(product)">{{product.name}}</td>
            <td ng-click="showProduct(product)">{{product.description}}</td>
            <td ng-click="showProduct(product)">{{product.sortDescription}}</td>
            <td ng-click="showProduct(product)">{{product.price}}</td>
            <td ng-click="showProduct(product)">{{product.discount}}</td>
            <td><button ng-click="editProduct(product)">edit</button></td>
        </tr>
        </tbody>
    </table>
</div>