<div>
    <form name="myForm">
        <img src="#"/>
        <label>Name: <input name="name" type="text" value="{{product.name}}" required/></label>
        <label>Description: <textarea name="description" rows="4" cols="50" required>{{product.description}}</textarea></label>
        <label>Short desc.:<input name="sortDescription" type="text" value="{{product.sortDescription}}" required/></label>
        <label>Price:<input name="price" type="number" value="{{product.price}}" required/></label>
        <label>Discount<input name="discount" type="number" value="{{product.discount}}" required/></label>
        <button ng-disabled="myForm.$invalid" ng-click="submit()">Submit</button>
    </form>
</div>

<style>
    input, img, textarea {
        display: block;
    }
</style>