<div>
    <table>
        <thead>
        <tr>
            <th>IMAGE</th><th>NAME</th><th>DESCRIPTION</th><th>SHORT DESC.</th><th>PRICE</th><th>DISCOUNT</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products track by $index">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.sortDescription}}</td>
            <td>{{product.price}}</td>
            <td>{{product.discount}}</td>
            <td><button ng-click="editProduct(product)">edit</button></td>
        </tr>
        </tbody>
    </table>
</div>